body {
    margin:0;
    padding:0;
    background-color: hsl(30, 38%, 92%);

    .challenge {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 10px;
        margin-right: 20px;
        color: black;
        font-family: Montserrat;
        font-weight: bold;

        .lien-dev {
            text-decoration: none;
            color: black;
        }
    }

    .creator {
        color: black;
        font-family: Montserrat;
        margin: 10px;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 20px;
        font-weight: bold;

        .lien-dev {
            text-decoration: none;
            color: black;
        }
    }


    .preview-card {
        display: flex;
        position: absolute;
        width: 700px;
        height: 530px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .encadre-infos-product {
            width: 50%;
            background-color: white;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            font-family: Montserrat;
            padding: 40px;

            .type-product {
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 5px;
                margin-bottom: 20px;
            }

            .title-product{
                font-family: Fraunces;
                font-weight: 900;
                font-size: 35px;
                line-height: 1;
                text-align: left;
                margin-right: 25px;
            }

            .description-product {
                font-size: 16px;
                font-weight: 500;
                margin-top: 25px;
                margin-right: 25px;
                line-height: 1.7;
            }

            .encadre-price {
                display: flex;
                align-items: center;
                margin-top: 25px;

                .price-product {
                    font-size: 40px;
                    font-family: Fraunces;
                    font-weight: bold;
                    color: hsl(158, 36%, 37%);
                }

                .false-product {
                    text-decoration: line-through;
                    margin-left: 30px;
                }
            }

            .add-to-cart {
                margin-top: 30px;

                .add {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 50px;
                    border-radius: 10px;
                    border: none;
                    font-size: 16px;
                    font-weight: bold;
                    background-color:hsl(158, 36%, 37%) ;
                    color: white;

                    &:hover {
                        background-color: hsl(212, 21%, 14%);
                        cursor: pointer;
                    }

                    img {
                        margin-right: 15px;
                    }
                }
            }
        }

        .img-product {
            width: 50%;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        .img-product-mobile {
            display: none;
        }
    }

    @media screen and (max-width: 768px) {
        .preview-card {
            flex-direction: column;
            align-items: center;
            height: 730px;
            width: 430px;
            max-width: 90%;
            max-height: 100%;

            .img-product {
                display: none;
            }

            .img-product-mobile {
                display: flex;
                width: 100%;
                height: 50%;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            .encadre-infos-product {
                border-radius: 0px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                width: 100%;
                height: max-content;
                padding: 0;
            }

            .type-product {
                margin-top: 30px;
                margin-left: 30px;
            }
            
            .title-product {
                margin-top: 0px;
                margin-left: 30px;
            }

            .description-product {
                margin-left: 30px;
                margin-right: 50px;
            }

            .encadre-price {
                margin-left: 30px;
                flex-wrap: wrap;
            }

            .add-to-cart {
                margin-left: 30px;
                margin-right: 30px;
                margin-bottom: 30px;
            }

            
        }

        
        
    }
}