body {
    margin:0;
    padding:0;
    background-color: hsl(30, 38%, 92%);
    

    .preview-card {
        display: flex;
        position: absolute;
        width: 38vw;
        height: 57vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .encadre-infos-product {
            width: 50%;
            background-color: white;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            font-family: Montserrat;
            padding: 40px;

            .type-product {
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 5px;
                margin-bottom: 25px;
            }

            .title-product{
                font-family: Fraunces;
                font-weight: 900;
                font-size: 42px;
                line-height: 1;
                text-align: left;
            }
        }

        .img-product {
            width: 50%;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }
    }
}