body {
    margin:0;
    padding:0;
    background-color: hsl(30, 38%, 92%);
    

    .preview-card {
        display: flex;
        position: absolute;
        width: max-content;
        height: max-content;

        

        .encadre-infos-product {
            margin-right: auto;
            max-width: 20vw;
        }
    }
}